wesweb/firstprogram.js/obj/Debug/firstprogram.js.njsprojAssemblyReference.cache
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/DipShit/v16/.suo
wesweb/firstprogram.js/bin/Microsoft.NodejsTools.WebRole.dll
wesweb/firstprogram.js/obj/Debug/firstprogram.js.njsprojAssemblyReference.cache
wesweb/firstprogram.js/bin/Microsoft.NodejsTools.WebRole.dll
