#main {
    background: hotpink;
    width: 800px;
    height: 400px;
    margin: auto;
}

#box {
    border: 2px solid black;
    width: 150px;
    height: 100px;

}

p{
    background-color: green;
}