.img {
    background-image: url(Waterfall.gif);
    min-height: 100VH;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#innerbox{
    padding-left: 10px;
}

#left {
    border: black solid 2px;
    background-color: darkgray;
    float: left;
    width: 300px;
    height: auto;
}

#box {
    width: 150px;
    height: 50px;
    float: left;
    padding-left: 20px;
}

.list{
    float: left;
    width: 150px;
}

#center{
    width: 800px;
    height: 1000px;
    background-color: white;
    opacity: 95%;
    float: left;
    margin-left: 290px;
}

#C{
    padding-left: 10px;
}