#all {
    height: 900px;
    width: 1900px;
    background-color: lightgrey;
}

#header {
    width: 1900px;
    height: 120px;
}

#login {
    height: 70px;
    width: 300px;
    float: right;
    margin-right: 100px;
    margin-bottom: 3px;
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

#logbar input {
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 27px;
    font-size: 14px;
    border: 1px solid grey;
}



#body {
    height: 700px;
    width: 1900px;
    background-color: grey;
}

#left {
    float: left;
    width: 633px;
    height: 700px;
    background-color: #fff;
}

img {
    width: 65%;
}

#nav {
    width: 280px;
    background-color: grey;

}

#center {
    float: left;
    width: 633px;
    height: 700px;
    background-color: #fff;
}

p {
    font-size: 18px;
    width: 450px;
}

#right {
    float: right;
    width: 634px;
    height: 700px;
    background-color: #fff;
}

#footer {
    width: 1900px;
    height: 130px;
    color: white;
    background-color: #111;
}

#left1 {
    padding-left: 100px;
    height: 120px;
    width: 300px;
    float: left;
}

#right2 {
    margin-right: 200px;
    height: 120px;
    float: right;
    background-color: grey;
}

table,
th,
td {
    border: 1px solid black;
    margin-left: 5px;
}
